@import './base.css';

#app {
	height: 100dvh;
	margin: 0 auto;
	padding: 2rem;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-between;
}

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
	padding: 3px;
}

body {
	display: flex;
	place-items: flex-end;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

